@{
    ViewBag.Title = "IndexPiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

@using Era_sphere.Areas.AreaHoteles.Models
@model IEnumerable<PisoView>
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Pisos
        </h3>
    </div>
    @Html.Label("Hotel")
    @Html.TextBox("Hotel", ViewData["nombre_hotel"])
             
    <div class="block_cont">

        @(Html.Telerik().Grid(Model)
        .Name("PisosGrid")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        //.Editable(editing => editing
        //                    .Mode(GridEditMode.InForm)
        //                    .TemplateName("PisoViewTemplate"))
                            
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
           // columns.Bound(p => p.ID);
            columns.Bound(p => p.codigo_piso);
            columns.Bound(p => p.descripcion);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Piso")
            .Insert("Insert", "Piso")
            .Delete("Delete", "Piso")
            .Update("Update", "Piso")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>
