@{
    ViewBag.Title = "IndexPiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

@using Era_sphere.Areas.AreaHoteles.Models
@model IEnumerable<PisoView>
@using Telerik.Web.Mvc.UI

@{
    var hotelID = ViewData["hotelID"];
    }

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Pisos
        </h3>
    </div>
    
    <div class="block_cont">
        <p> Hotel @ViewData["hotel"] </p>     

             
        @(Html.Telerik().Grid(Model)
        .Name("PisosGrid")
        .Filterable()
        .Localizable("es-ES")
        .ToolBar(commands => commands.Insert())

        .Editable(editing => editing
                            .Mode(GridEditMode.InForm)
                            .TemplateName("PisoViewTemplate"))
                            
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.ID);
            columns.Bound(p => p.codigo_piso);
            columns.Bound(p => p.descripcion);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                //commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Piso", new { id = @hotelID }) 
            .Insert("Insert", "Piso", new { id = @hotelID})
            .Delete("Delete", "Piso", new { id_hotel = @hotelID })
            .Update("Update", "Piso", new { id_hotel = @hotelID })
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>
