
@using Era_sphere.Areas.AreaContable.Models
@using Era_sphere.Generics;
@model IEnumerable<ProveedorView>
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<style type="text/css">
    .t-window
    {
        width: 500px;
        margin: 0px auto;
    }
</style>
<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Proveedores
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("ProveedoresGrid")
        .Localizable("es-ES")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("ProveedorViewTemplate")
                            
                           )

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.ID);
            columns.Bound(p => p.razon_social);
            columns.Bound(p => p.ruc);
            columns.Bound(p => p.direccion);
            columns.Bound(p => p.correo);
            columns.Bound(p => p.telefono);
            columns.Bound(p => p.persona_contacto);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
                commands.Custom("addProductos")
                            .Text("Productos")
                            .DataRouteValues(p => p.Add( x => x.ID ).RouteKey("id_proveedor"))
                            .Action("Productos", "Proveedor");
                commands.Custom("addHoteles")
                            .Text("Hoteles")
                            .DataRouteValues(p => p.Add(x => x.ID).RouteKey("id_proveedor"))
                            .Action("Hoteles", "Proveedor");
            }).Title("Acciones");
        })
        .Pageable()
        .Sortable()
        .PrefixUrlParameters(false)

        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Proveedor")
            .Insert("Insert", "Proveedor")
            .Delete("Delete", "Proveedor")
            .Update("Update", "Proveedor")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>
