@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<p>
    Este es un boton <input type="button" value="No hago nada" />
</p>
<p>
    Este es un select que ocupa el 100%
    <select style="width:100%">
        <option>0</option>
        <option>1</option>
    </select>
</p>
