@model Era_sphere.Areas.AreaConfiguracion.Models.Cadenas.Cadena
@using Era_sphere.Areas.AreaConfiguracion.Models.Cadenas
@using Era_sphere.Generics;
@{
    ViewBag.Title = "Cadenas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int nc = new LogicaCadena().retornarCadenas().Count; 
}
<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Cadena
        </h3>
    </div>
    
    <div class="block_cont">
      <ul>

      @if (nc == 0)
      {
            <li> <a href = "Cadena/Create" > Crear </li>

      }
      else
      {
            <li> <a href = "Cadena/Details" >Detalles </li>
            <li> <a href = "Cadena/Edit" >Editar </li>
      }
      </ul>
    </div>
      
              <!-- Table Wrapper End -->
</div>
