@{
    ViewBag.Title = "IndexAmbiente";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

@using Era_sphere.Areas.AreaHoteles.Models
@model IEnumerable<Era_sphere.Areas.AreaHoteles.Models.Ambientes.AmbienteView>
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Ambientes
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("AmbientesGrid")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.InForm)
                            .TemplateName("AmbienteViewTemplate"))
                            
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.ID);
            columns.Bound(p => p.descripcion);
            columns.Bound(p => p.capacidad_personas);
            columns.Bound(p => p.ancho);
            columns.Bound(p => p.largo);
            columns.Bound(p => p.num_niveles);
            columns.ForeignKey(p => p.pisoID, (IEnumerable<PisoView>)(ViewData["pisos"]), "ID", "nombre");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("_pisos", "Ambiente")
            .Select("_pisosUpdate", "Ambiente")
            .Select("Select", "Ambiente")
            .Insert("Insert", "Ambiente")
            .Delete("Delete", "Ambiente")
            .Update("Update", "Ambiente")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>
