@using Era_sphere.Areas.AreaReservas
@using Era_sphere.Generics;
@using Telerik.Web.Mvc.UI
@model IEnumerable<ReservaView>
@{
    ViewBag.Title = "IndexHotel";
    var hotelID = ViewData["hotelID"];
    Layout = "~/Views/Shared/_Layout.cshtml";
   // var paises = (new EraSphereContext()).paises.ToList();
   // var ciudades = (new EraSphereContext()).ciudades.ToList();
   var estados = (new EraSphereContext()).estados_reserva.ToList();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Gestionar Reservas
        </h3>
    </div>
   
    <div class="block_cont">
   

      @(Html.Telerik().Grid(Model)
        .Name("ReservaGrid")
        .Localizable("es-ES")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("ReservaViewTemplate"))

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.responsable_pago);
            columns.Bound(p => p.documento_identidad).Title("Documento");
            columns.Bound(p => p.ID);
            columns.ForeignKey(p => p.estadoID, new SelectList(estados, "ID", "descripcion"));
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });

        }).Pageable().Sortable()

        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Reserva", new { id = @hotelID })
            .Insert("Insert", "Reserva", new { id = @hotelID })
            .Delete("Delete", "Reserva", new { id_hotel = @hotelID })
            .Update("Update", "Reserva", new { id_hotel = @hotelID })

        )
           )



    </div>
    <!-- Table Wrapper End -->
</div>

   