@model IEnumerable<ReciboLinea>
@using Era_sphere.Areas.AreaClientes.Models
@using Era_sphere.Areas.AreaContable.Models.Recibo;
@using Era_sphere.Generics;
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "DetalleClienteTemplate";
   var puntos_acumulados = ViewBag.puntos;
   List<object> sn = new List<object> { new { ID = true, nombre = "Si" }, new { ID = false, nombre = "No" } };
}


<label>Puntos acumulados</label>
<div class="editor-field"> <input class="text-box single-line" type="text" value="@puntos_acumulados" readonly="readonly" /> </div>
<div style="height:10px"></div>

 @(Html.Telerik().Grid(Model)
        .Name("DetalleClienteGrid")
        .Localizable("es-ES")
        .Filterable()
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.detalle);
            columns.Bound(p => p.precio_final);
            columns.Bound(p => p.fecha);
            columns.Bound(p => p.puntos);
            columns.ForeignKey(p => p.pagado, new SelectList(sn, "ID", "nombre")).Title("Pagado");      
        })

        .Pageable()
        .Sortable()
        )
      
      <br />
      @Html.ActionLink("Mostrar detalle en PDF", "DetalleClientePDF", new {id=@ViewBag.id})