@using Era_sphere.Areas.AreaClientes.Models
@using Era_sphere.Generics;
@using Telerik.Web.Mvc.UI
@model IEnumerable<ClienteNaturalView>
@{
    if(!(bool)(ViewData["es_partial"])){
    ViewBag.Title = "IndexHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
   // var paises = (new EraSphereContext()).paises.ToList();
   // var ciudades = (new EraSphereContext()).ciudades.ToList();
   // var estados = (new EraSphereContext()).estados_cliente.ToList();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimiento de Clientes
        </h3>
    </div>
    <div class="titlebar">
        <h5>
            Clientes Naturales
        </h5>
    </div>
    <div class="block_cont">
       @{
           Html.RenderPartial("ClienteNaturalIndexView");
          }
    </div>
    <div style="height: 20px;">
    </div>
    <div class="titlebar">
        <h5>
            Clientes Jurídicos
        </h5>
    </div>
    <div class="block_cont">
        @{
            Html.RenderPartial("ClienteJuridicoIndexView");
           }
    </div>
    <!-- Table Wrapper End -->
</div>

<script type="text/javascript">
    function onComplete(e) {
        if (e.name == "mostrar_juridico") {
            $("#detalle-cliente-juridico").load('@Url.Action("ClienteJuridicoShow", "Cliente")' + '/' + e.response.id);
            var detailModal = $("#DetalleJuridico").data("tWindow");
            detailModal.center().open();
        } else if (e.name == "mostrar_natural") {
            $("#detalle-cliente-natural").load('@Url.Action("ClienteNaturalShow", "Cliente")' + '/' + e.response.id);
            var detailModal = $("#DetalleNatural").data("tWindow");
            detailModal.center().open();
        }
    }
</script>
