@{
    ViewBag.Title = "EventoIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //int[] checkedRecords = (int[])ViewData["checkedRecords"]; 
    var idhotel = ViewData["id_hotel"];
    ViewBag.idhotel = idhotel;
}
@using Era_sphere.Areas.AreaHoteles.Models
@model IEnumerable<Era_sphere.Areas.AreaEventos.Models.Evento.EventoView>
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    
            @{
                Html.RenderPartial("EventosPPagado"); 
            }
    
        @{
            Html.RenderPartial("EventosCreados");
                       
           
            }
    
<!-- Table Wrapper End -->

</div>