@{
    ViewBag.Title = "PruebaHtml";

    var idEvento =  ViewBag.idEvento;
    var idHotel = ViewBag.idHotel;
    var fecha_hora_inicio= ViewBag.fecha_inicio;
}

<h2>PruebaHtml</h2>
<div>ggggg</div>
