@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

	<div id="loginbox">
		<a href="#" id="logo">AdminCP</a>
		<div id="loginform">
			<form name="login" action="#" method="post">
				<div id="username_field"><input type="text" name="usuario"  id = "usuario" placeholder="Usuario" class="required" value="" /></div>
				<div id="password_field"><input type="password" name="password" id = "password" placeholder="Contrasenha" class="required" value="" /></div>
				<div id="buttonline">
					<input type="button" id="loginbutton" class="float_left width_4" value="Ingresar" />
					<a href="#" class="passforgot float_right"></a>
				</div>
			</form>
		</div>

         <p> &nbsp; </p>
        <div id = "explain">
           
        </div>

	</div>