@{
    ViewBag.Title = "Main";
}

<div class="block big"><!-- Block Begin -->
    <div class="titlebar">
		<h3>Unique visitors statistics</h3>
		<a href="#" class="toggle">&nbsp;</a>
	</div>
	<div class="block_cont">
        <div id="chart1" style="height:300px; width:100%;"></div>
    </div>
</div><!-- Block End -->
<div class="block small"><!-- Block Begin -->
	<div class="titlebar">
		<h3>Progress bar</h3>
		<a href="#" class="toggle">&nbsp;</a>
	</div>
	<div class="block_cont">
		<div id="progress1"></div><br />
		<div id="progress2"></div><br />
		<div id="progress3"></div><br />
	</div>
</div><!-- Block End -->
<div class="block small"><!-- Block Begin -->
	<div class="titlebar">
		<h3>Chart</h3>
		<a href="#" class="toggle">&nbsp;</a>
	</div>
	<div class="block_cont">
		<div id="chart2" style="height:200px; width:100%;"></div>
	</div>
</div><!-- Block End -->
<div class="block small"><!-- Block Begin -->
	<div class="titlebar">
		<h3>Line</h3>
		<a href="#" class="toggle">&nbsp;</a>
	</div>
	<div class="block_cont">
		<div id="chart3" style="height:200px; width:100%;"></div>
	</div>
</div><!-- Block End -->