@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc.Configuration
@using Era_sphere.Areas.AreaEmpleados.Models.AsistenciaEmpleados
@using Era_sphere.Areas.AreaEmpleados.Models
@model IEnumerable<AsistenciaEmpleado>

           
@{
    ViewBag.Title = "Index";
    int idusuario = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Asistencia de empleados
        </h3>
    </div>
    <div class="block_cont">
        
         <div class = "form">
        
        <button class="t-button t-state-default submit" style = "display:inline" id="regentrada"> Registrar Entrada </button>
           
        <button class="t-button t-state-default submit" style = "display:inline; float :right" id="regsalida"> Registrar Salida </button>
        
    </div>
    <p></p>
    <div id = "log" style = "display:none; background-color:red; color:white; font-size:20px">
            jajaja 
    </div>

        <p>
        </p>

        @(Html.Telerik().Grid(Model)
        .Name("AsistenciasGrid")
        .Localizable("es-ES")


        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.fechaHoraEntrada);
            columns.Bound(p => p.fechaHoraSalida);
            columns.Bound(p => p.s_asistencia);
        })



        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "AsistenciaEmpleado", new { id = idusuario })
        )
           )
    </div>
   
   <div id="dialogEntrada" title="Esta seguro que desea registrar su entrada?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    Ya no podr&aacute; cancelar la operaci&oacute;n</p>
    </div>

     <div id="dialogSalida" title="Esta seguro que desea registrar su salida?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    Ya no podr&aacute; cancelar la operaci&oacute;n</p>
    </div>

    

</div>

<script type = "text/javascript">

    $('#dialogEntrada').dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        width: 300,
        modal: true,
        title: "Confirmar registro de entrada",
        position: "center",
        buttons: {
            "Aceptar": function () {
                var user = localStorage.getItem("idusuario");
                var entrada = {
                    iduser: parseInt(user)
                };
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(entrada),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: "AsistenciaEmpleado/RegistrarAsistencia",
                    success: function (data) {
                        if (data.me == "") {
                            $('#AsistenciasGrid').data('tGrid').ajaxRequest();
                            $("#log").html("Hora de Ingreso registrado Correctamente!!");
                            $("#log").show();
                            $("#log").fadeOut(6000);
                            
                        } else {
                            //alert(data.me);
                            $("#log").html(data.me);
                            $("#log").show();
                            $("#log").fadeOut(6000); 
                        }
                        
                    }
                });
                $(this).dialog("close");

            },
            "Cancelar": function () {
                $(this).dialog("close");
                return false;
            }
        }
    });


    $('#dialogSalida').dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        width: 300,
        modal: true,
        title: "Confirmar registro de salida",
        position: "center",
        buttons: {
            "Aceptar": function () {
                var user = localStorage.getItem("idusuario");
                var entrada = {
                    iduser: parseInt(user)
                };
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(entrada),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: "AsistenciaEmpleado/RegistrarSalida",
                    success: function (data) {
                        if (data.me == "") {
                            $('#AsistenciasGrid').data('tGrid').ajaxRequest();
                            $("#log").html("Hora de Ingreso registrado Correctamente!!");
                            $("#log").show();
                            $("#log").fadeOut(6000);

                        } else {
                            //alert(data.me);
                            $("#log").html(data.me);
                            $("#log").show();
                            $("#log").fadeOut(6000);
                        }

                    }
                });
                $(this).dialog("close");

            },
            "Cancelar": function () {
                $(this).dialog("close");
                return false;
            }
        }
    });


    $("#regentrada").click(function () {
        $('#dialogEntrada').dialog('open');
    });

    $("#regsalida").click(function () {
        $('#dialogSalida').dialog('open');
    });

</script>
