
@using Era_sphere.Areas.AreaHoteles.Models.HotelXTipoHabitacionXTemporadaNM;
@using Era_sphere.Generics;
@model IEnumerable<HotelXTipoHabitacionXTemporadaView>
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "IndexHotelXTipoHabitacionXTemporada";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hotelID = ViewData["hotelID"];
}


<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Precios de tipos de habitaciones
        </h3>
    </div>
    <div class="block_cont">
        <p> Hotel @ViewData["hotel"] </p>   
        @(Html.Telerik().Grid(Model)
        .Name("HotelXTipoHabitacionXTemporadaGrid")
        .Localizable("es-ES")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("HotelXTipoHabitacionXTemporadaViewTemplate"))

        .DataKeys(key => key.Add(v => v.ID))
        .Columns(columns =>
        {
            columns.Bound(v => v.tipoHabitacion_descripcion);
            //columns.Bound(v => v.tt_desc);
            columns.Bound(v => v.t_desc);
            columns.Bound(v => v.precio);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "HotelXTipoHabitacionXTemporada", new { id = @hotelID })
            .Insert("Insert", "HotelXTipoHabitacionXTemporada", new { id = @hotelID })
            .Delete("Delete", "HotelXTipoHabitacionXTemporada", new { id_hotel = @hotelID })
            .Update("Update", "HotelXTipoHabitacionXTemporada", new { id_hotel = @hotelID })
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>