@using Telerik.Web.Mvc.UI
@using Era_sphere.Areas.AreaConfiguracion.Models.Perfiles
@model IEnumerable<Perfil>
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Perfiles
        </h3>
    </div>
    <div class="block_cont">

    </div>
   
</div>