@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc.Configuration
@using Era_sphere.Areas.AreaConfiguracion.Models.Perfiles
@model IEnumerable<Perfil>

           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Perfiles
        </h3>
    </div>
    <div class="block_cont">

    <div class = "form">
    <p>
    <button class="t-button t-state-default submit" id="agregarPerfil"> Agregar Perfil </button>
    </p>
    </div>
 
  @(Html.Telerik().Grid(Model)
        .Name("PerfilesGrid")
        .Editable(editing => editing
                            .Mode(GridEditMode.InLine))
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            
            columns.Bound(p => p.nombrePerfil);
            columns.Bound(p => p.descripcion);
            
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Perfiles")
            .Insert("Insert", "Perfiles")
            .Delete("Delete", "Perfiles")
            .Update("Update", "Perfiles")
        )
    )

    <div id="dialogEditar" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 46px; height: auto; display:none" scrolltop="0" scrollleft="0">
		<div class = "form">
            <div class="form_row">
                <label>Nombre :</label>
                <input type = "text" id = "nombre" class = "input tipRignt singleInput">
            </div>
            <div class="form_row">
                <label>Descripcion :</label>
                <textarea id = "descripcion" class = "input tipRignt singleInput"></textarea>  
            </div>
            <div class="form_row">
                <label>Lista de Actividades :</label>
                <div id = "listaActividades">

                </div>
            </div>
        </div>
    			
	</div>
    </div>
   
</div>

<script type = "text/javascript">

    $("#agregarPerfil").click(function () {
        //ajax
        $("#nombre").val(""),
        $("#descripcion").val(""),
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "../Navegacion/ListaTodoMenu",
            success: function (data) {
                var result = "";
                $.each(data, function (i, item) {
                    var nombre = item.Nombre;
                    result += '<p><input type = "checkbox" id = "actividad-' + i +'">' + nombre + '</p>';
                });
                $("#listaActividades").html(result);
            }
        });

        $('#dialogEditar').dialog('open');
    });

    $('#dialogEditar').dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        width: 800,
        modal: true,
        title: "Crear Perfil",
        position: "center",
        buttons: {
            "Aceptar": function () {
                var jsonMenu = {
                    nombre: $("#nombre").val(),
                    descripcion: $("#descripcion").val(),
                    lista : "111"
                 }; 
                    $.ajax({
                        type: "POST", 
                        data: JSON.stringify(jsonMenu), 
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: "Perfiles/nuevoPerfil", 
                            success: function (data) {
                                if (data.me == "") {
                                    $('#PerfilesGrid').data('tGrid').ajaxRequest();
                                    
                                }
                            }
                    });

                        $(this).dialog("close");
            },
            "Cancelar": function () {
                $(this).dialog("close");
            }
        }
    });

</script>