@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Reporte Compras";
}

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Reporte de Compras
        </h3>
    </div>
    <div class="block_cont">
        
        <h2>Presione el link para mostrar el reporte de compras: </h2>
        <a ref="../AreaContable/AdministrarOC/Export"><p><b>CLIC</b></p></a>

    </div>
    <!-- Table Wrapper End -->
</div>
