@using Telerik.Web.Mvc.UI
@using Era_sphere.Areas.AreaContable.Models
@{
    var oc = ViewBag.oc;
}
<ul>
<li> <h3> Resumen de Entregas </h3> </li>
</ul>
@{ Html.RenderPartial("ResumenEntregas");}
<ul>
<li> <h3> Mantenimiento de Entregas </h3> </li>
<//ul>
@{ Html.RenderPartial("MantenimientoEOC");}