@using Telerik.Web.Mvc.UI
@using Era_sphere.Areas.AreaContable.Models
@{
    var oc = ViewBag.oc;
}


<script type="text/javascript">

    function mantenimiento_complete(e) {
        if (e.name == "detallesEOC") {
            var oc = e.response.eoc;
            var url = '@Url.Action("editarEntregaOC", "EntregaOC")' + '/?id_eoc=' + oc.entregaID;
            var windowElement = $.telerik.window.create({
                title: "Editar Entrega Orden Compra",
                html: '',
                contentUrl: url,
                modal: true,
                resizable: true,
                draggable: true,
                width: 650,
                height: 550,
                onClose: function (e) {
                    e.preventDefault();
                    windowElement.data('tWindow').destroy();
                }
            });
            jQuery(windowElement).attr('id', 'mantenimientoEOC');
            var tdata = windowElement.data('tWindow');
            tdata.center().open();
        }
        else if (e.name == 'delete') {
            $('#ResumenEntrega').data('tGrid').ajaxRequest();
        }
    }

    function cerrar_ventana_entrega() {
        try { $("#mantenimientoEOC").data('tWindow').close(); } catch (e) { }
        try { $("#EOCGrid").data("tGrid").ajaxRequest(); } catch (e) { }
        try { $("#ResumenEntrega").data("tGrid").ajaxRequest(); } catch (e) { }
        try { $("#popupEntrega").data('tWindow').close(); } catch (e) { }
        try { $("#AceptadasGrid").data('tGrid').ajaxRequest(); } catch (e) { }
    }
</script>

<div>
 @(Html.Telerik().Grid<EntregaOCView>()
        .Name("EOCGrid")
        .Localizable("es-ES")
        .HtmlAttributes(new { style = "margin-top:10px;"})
        .DataKeys(d => d.Add(p => p.entregaID))
        .Columns(columns =>
        {
            columns.Bound(o => o.entregaID).Width(10).ReadOnly(true).Title("Id");
            columns.Bound(o => o.ordencompraID).Width(10).ReadOnly(true).Title("Orden de Compra");
            columns.Bound(o => o.nombre_proveedor).Width(100).Title("Proveedor ");
            columns.Bound(o => o.fecha_entrega).Width(150).Title("Fecha Entrega").ReadOnly(true);
            columns.Command(com =>
            {
                com.Custom("detallesEOC").Ajax(true).Action("DetalleEOC", "EntregaOC").Text("Editar")
                    .DataRouteValues(data => data.Add(o => o.entregaID).RouteKey("id_eoc"));
                com.Delete().ButtonType(GridButtonType.Image);
            });
        })
        .ClientEvents(ev => ev.OnComplete("mantenimiento_complete"))
        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("SelectEntregas", "EntregaOC", new { id_oc = @oc.ordenID })
            .Delete("DeleteEntrega", "EntregaOC", new { id_oc = @oc.ordenID })
        ).Filterable()
        .Groupable()
        .Resizable(reorder => reorder.Columns(true))
        .Resizable(re => re.Columns(true)).Pageable()
    )
</div>
