.block div.innertitle {
	background: gray;
	margin: 0 0 0 0px;
}

.small-inner {
	position: relative;
}

#right_form_natural {
	position: relative;
	left : 450px;
	height: 0px;
	top: -530px;
}

#right_form_juridico {
	position: relative;
	left : 450px;
	height: 0px;
	top: -474px;
}

#cuenta_usuario {
	position: relative;
	left: 529px;
	top: -195px;
}

#detalle_cliente {
	position: relative;
}

#detalle_cliente {
	position: relative;
}
#cliente_natural_form {
	position: relative;
	height : 470px;
	width: 350px;
}

#natural_foto {
	position: relative;
	width: 180px;
	height: 180px;

}



#info_adicional {
	position: relative;
	height : 240px;
	width: 500px;
}


#natural_div_extra {
	position: relative;
}
