@{
    ViewBag.Title = "IndexMoneda";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}
@using Era_sphere.Areas.AreaContable.Models.Ordenes
@model IEnumerable<OrdenView>           
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            OC'S
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("OrdenGrid")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("OrdenViewTemplate"))

        .DataKeys(key => key.Add(o => o.ID))
        .Columns(columns =>
        {
            //columns.Bound(p => p.ID);
            columns.Bound(o => o.ID);                        
            columns.Bound(o => o.fechaRegistro);
            columns.Bound(o => o.estado);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Ordenes")
            .Insert("Insert", "Ordenes")
            .Delete("Delete", "Ordenes")
            .Update("Update", "Ordenes")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>