<DOCTYPE html>
<html>
<head>
    <title> Mantenimiento Test </title>

</head>
<body>
    <div id="test_div">
    
    </div>
    <div>
    <button id="get_all">  Prueba get_all  </button>
    <button id="get_filtro">  Prueba get_filtro  </button>
    <button id="agregar_cliente">  Prueba get_filtro  </button>
    <button id="modificar_cliente"> Modificar cliente <//button>
    <button id="agregar_cliente"> agregar cliente </button>
    </div>
</body>
</html>