
@using Era_sphere.Areas.AreaHoteles.Models.HotelXCosteableXTemporadaNM;
@using Era_sphere.Generics;
@model IEnumerable<HotelXCosteableXTemporadaView>
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "IndexHotelXCosteableXTemporada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Precios
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("HotelXCosteableXTemporadaGrid")
        .Localizable("es-ES")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp))

        .DataKeys(key => key.Add(v => v.ID))
        .Columns(columns =>
        {
            columns.Bound(v => v.costeable.nombre);
            columns.Bound(v => v.temporada.tipotemporada.descripcion);
            columns.Bound(v => v.temporada.descripcion);
            columns.Bound(v => v.precio);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "HotelXCosteableXTemporada")
            .Insert("Insert", "HotelXCosteableXTemporada")
            .Delete("Delete", "HotelXCosteableXTemporada")
            .Update("Update", "HotelXCosteableXTemporada")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>