@model Era_sphere.Areas.AreaClientes.Models.Cliente
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="block big" style="position: relative">
    <div class="titlebar">
        <h3>
            Mantenimento de Cliente
        </h3>
    </div>
    <div class="block_cont">
        <h3>
            Esta seguro que desea eliminar el Cliente?</h3>
        @using (Html.BeginForm("Delete", "Cliente", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form_row">
                <input type="submit" value="Delete" class="submit" />
            </div>
            <div class="form_row">
                @Html.ActionLink("Cancelar", "Index")
            </div>
        }
    </div>
</div>
