@using Telerik.Web.Mvc.UI;
@using Era_sphere.Areas.AreaContable.Models
@model IEnumerable<OrdenCompraView>
@{
    ViewBag.Title = "IndexAdministracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Registradas
        </h3>
        <span class="toggle"></span>
    </div>
    <div class="block_cont" id="registradas-partial">
    @(Html.Telerik().Grid(Model)
        .Name("Ordenes_grid")
        .Localizable("es-ES")
        .Filterable()
        .DataKeys(key => key.Add(p => p.ordenID))
        .Columns(columns =>
        {
            columns.Bound(p => p.ordenID);
            columns.Bound(p => p.razon_proveedor);
            columns.Bound(p => p.nro_productos);
            columns.Bound(p => p.estado_orden);
            columns.Bound(p => p.fecha_registro);
            columns.Bound(p => p.monto_total);
            columns.Command(command => command.Delete());
        })
        .ClientEvents(events => events.OnComplete("onComplete"))
        .Pageable()
        .Sortable()
        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("SelectRegistradas", "OrdenCompra", new { id_hotel = 1 })
            .Delete("#","#")
        )
        )
    </div>
</div>
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Aceptadas
        </h3>
        <span class="toggle show"></span>
    </div>
    <div class="block_cont" style="display:none">
    
    </div>
</div>
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Atendidas
        </h3>
        <span  class="toggle show"></span>
    </div>
    <div class="block_cont" style="display:none">
   
    </div>
</div>
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Canceladas
        </h3>
        <span  class="toggle show"></span>
    </div>
    <div class="block_cont" style="display:none">
 
    </div>
</div>

<script>
 
</script>