@model Era_sphere.Areas.AreaContable.Models.Recibo.ReciboLinea
@{
    ViewBag.Title = "ReciboLineaTemplate";
}
@using Telerik.Web.Mvc.UI
        <div class="editor-label">
            Precio
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.precio_final)
            @Html.ValidationMessageFor(model => model.precio_final)
        </div>
      
      
        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div>
            @(Html.Telerik().DateTimePicker()
                    .Name("fecha_inicio")
                    .HtmlAttributes(new { id = "DateTimePicker_wrapper" })
                    .Interval(30)
                    .Value(DateTime.Now)
                    .r
             )
        </div>


