@model Era_sphere.Areas.AreaContable.Models.Recibo.ReciboLinea
@{
    ViewBag.Title = "ReciboLineaTemplate";
    var precio = Model.precio_final;
}
@using Telerik.Web.Mvc.UI
    

        <div class="editor-label">
            Precio
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.precio_final)
            @Html.ValidationMessageFor(model => model.precio_final)
        </div>
        
    
    

