@{
    ViewBag.Title = "IndexOrdenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}
@using Era_sphere.Areas.AreaContable.Models.Ordenes
@model IEnumerable<OrdenLineaView>           
@using Telerik.Web.Mvc.UI
@{
    int oid = (int)ViewData["oid"];
}

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Orden de Compra N° @oid
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("OrdenGrid")
        .ToolBar(commands => commands.Insert())
        .Filterable()
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                  .TemplateName("OrdenLineaViewTemplate")
                  )

        .DataKeys(key => key.Add(o => o.ID))
        .Columns(columns =>
        {
            columns.Bound(ol => ol.proveedorID);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("SelectLineas", "Ordenes", new { oid = @oid })
            .Insert("InsertLinea", "Ordenes", new { oid = @oid })
            .Delete("DeleteLinea", "Ordenes", new { oid = @oid })
            .Update("UpdateLinea", "Ordenes", new { oid = @oid })
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>