@{
    ViewBag.Title = "IndexOrdenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}
@using Era_sphere.Areas.AreaContable.Models.Ordenes
@model IEnumerable<OrdenView>           
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            OC'S
        </h3>
    </div>
    <div class="block_cont">
        @Html.ActionLink("Agregar", "agregar",
                        new { controller = "Ordenes"}
                        , new { @class = "tipTop"})
        @(Html.Telerik().Grid(Model)
        .Name("OrdenGrid")
        .Filterable()
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("OrdenViewTemplate")
                  )

        .DataKeys(key => key.Add(o => o.ID))
        .Columns(columns =>
        {
            columns.Bound(o => o.ID);                        
            columns.Bound(o => o.fechaRegistro);
            columns.Bound(o => o.estado);
            columns.Bound(o => o.nro_lineas);
            columns.Bound(o => o.total);
            columns.Command(
                commands =>
                {
                    commands
                        .Custom("seleccionarOrden")
                        .Text("Seleccionar")
                        .Action("agregar", "Ordenes").DataRouteValues(route => route.Add(o => o.ID).RouteKey("oid"));
                        //.Action("agregar", "Ordenes").DataRouteValues(route => { route.Add(o => o.ID).RouteKey("oid"); route.Add(o => o.ID).RouteKey("oid"); }  );
                    commands
                        .Delete()
                        .ButtonType(GridButtonType.Image);
                    commands
                        .Edit()
                        .ButtonType(GridButtonType.Image);
                }
            ).Title("Editar").Width(50);
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Ordenes")
            .Insert("Insert", "Ordenes")
            .Delete("Delete", "Ordenes")
            .Update("Update", "Ordenes")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>