
@using Telerik.Web.Mvc.UI;
@using Era_sphere.Areas.AreaContable.Models
@model IEnumerable<OrdenCompraView>
@{
    ViewBag.Title = "IndexAdministracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id_hotel = ViewBag.id_hotel;
    
}
 <div class="block big">
     <div class="block_cont">       
        <p align="right">@Html.ActionLink("Registrar Orden de Compra", "Index", new { controller = "../AreaContable/OrdenCompra" , id = @id_hotel },
                            new { @class = "tipTop" })                        
        </p>
    </div>
</div>
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Registradas
        </h3>
        <span class="toggle"></span>
    </div>
     <div class="block_cont">
    @{ Html.RenderPartial("OrdenesRegistradasPartial",null, new ViewDataDictionary{ {"id" , @id_hotel}}); }
    </div>
    
</div>
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Aceptadas
        </h3>
        <span class="toggle show"></span>
    </div>
    <div class="block_cont" style="display:none">
    @{ Html.RenderPartial("OrdenesAceptadasPartial", null, new ViewDataDictionary{ {"id" , @id_hotel }}); }
    </div>
</div>
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Atendidas
        </h3>
        <span  class="toggle show"></span>
    </div>
    <div class="block_cont" style="display:none">
    @{ Html.RenderPartial("OrdenesAtendidasPartial", null , new ViewDataDictionary{ {"id" , @id_hotel} }); }
    </div>
</div>
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Pagadas
        </h3>
        <span  class="toggle show"></span>
    </div>
    <div class="block_cont" style="display:none">
    @{ Html.RenderPartial("OrdenesPagadasPartial", null , new ViewDataDictionary{ {"id" , @id_hotel} }); }
    </div>
</div>
<div class="block big">
    <div class="titlebar">
        <h3>
            Ordenes Canceladas
        </h3>
        <span  class="toggle show"></span>
    </div>
    <div class="block_cont" style="display:none">

    @{ Html.RenderPartial("OrdenesCanceladasPartial", null , new ViewDataDictionary{ { "id" , @id_hotel }}); }
 
    </div>
    <script type="text/javascript">
        function reload_all() {
            $("#CanceladasGrid").data("tGrid").ajaxRequest();
            $("#AtendidasGrid").data("tGrid").ajaxRequest();
            $("#AceptadasGrid").data("tGrid").ajaxRequest();
            $("#RegistradasGrid").data("tGrid").ajaxRequest();
            $('#PagadasGrid').data('tGrid').ajaxRequest();
        }
    </script>
</div>
