@model Era_sphere.Areas.AreaHoteles.Models.PisoView
@using Era_sphere.Areas.AreaHoteles.Models
@using Telerik.Web.Mvc.UI
           
@{
    ViewBag.Title = "PisoViewTemplate";
}

<h2>PisoViewTemplate</h2>
