@{
    ViewBag.Title = "TipoTemporadaIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //int[] checkedRecords = (int[])ViewData["checkedRecords"]; 
}
@using Era_sphere.Areas.AreaConfiguracion.Models.Temporada
@model IEnumerable<TipoTemporadaView>
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de tipos de temporada
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("TipoTemporadaGrid")
        .Filterable()
        .Localizable("es-ES")
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.InLine)
                            .TemplateName("TipoTemporadaViewTemplate"))

        .DataKeys(key => key.Add(c => c.ID))
        .ClientEvents(events => events.OnRowDataBound("onTipoTemporadaRowDataBound"))
        .Columns(columns =>
        {

            columns.Bound(p => p.ID).Hidden(true);
            columns.Bound(p => p.descripcion);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "TipoTemporada")
            .Insert("Insert", "TipoTemporada")
            .Delete("Delete", "TipoTemporada")
            .Update("Update", "TipoTemporada")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>

<script type="text/javascript">

    function onTipoTemporadaRowDataBound(e) {
        /**/console.log(e);
        if (e.dataItem.ID == 1) {
            $(e.row).find('a.t-grid-delete').remove();
            $(e.row).find('a.t-grid-edit').remove();
        }
    }
</script>





@*
    $(document).ready(
//        function () {
//            alert("hola");
//        }
//    );*@