@{
    ViewBag.Title = "IndexMoneda";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}
@using Era_sphere.Areas.AreaConfiguracion.Models.Fiscal
@model IEnumerable<MonedaView>           
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Monedas
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("MonedasGrid")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.InForm)
                            .TemplateName("MonedaViewTemplate"))

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            //columns.Bound(p => p.ID);
            columns.Bound(p => p.descripcion);                        
            columns.Bound(p => p.simbolo);
            columns.Bound(p => p.tc);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Moneda")
            .Insert("Insert", "Moneda")
            .Delete("Delete", "Moneda")
            .Update("Update", "Moneda")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>