@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Reporte de Promociones
        </h3>
    </div>
    <div class="block_cont">
        
        <h2>Presione el link para mostrar el reporte de promociones</h2>
        
        <div align="left"><a href = "/AreaReportes/ReportePromocion/MostrarPDF" button class="xurreta-button" >Mostrar Reporte en PDF</a>  </div>
    </div>
    <!-- Table Wrapper End -->
</div>
