@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error grid_12"><h3> Ha ocurrido un error mientras se procesaba la consulta. Si el error persiste, contacte al admnistrador del sistema. </h3></div><!-- Notification -->
<p>&nbsp</p>
<p>&nbsp</p>
<div align="center"><a href = "/Home/Sistema" button class="y-button" >Ir al Home</a>  </div>
		