@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error grid_12"><h3> Ha ocurrido un error mientras se procesaba la consulta </h3></div><!-- Notification -->
		