@{
    ViewBag.Title = "HabitacionIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Era_sphere.Areas.AreaHoteles.Models
@model IEnumerable<HabitacionView>
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimiento de habitaciones
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("HabitacionGrid")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.InForm)
                            .TemplateName("HabitacionViewTemplate"))

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.ID);
            columns.Bound(p => p.detalle);
            
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Habitacion")
            .Insert("Insert", "Habitacion")
            .Delete("Delete", "Habitacion")
            .Update("Update", "Habitacion")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>
