@using Telerik.Web.Mvc.UI
@using Era_sphere.Areas.AreaEmpleados.Models
@model IEnumerable<Empleado>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimiento de Empleados
        </h3>
    </div>
    <div class="block_cont">

    <div class = "form">
    <p>
    <button class="t-button t-state-default submit" id="agregarEmpleado"> Agregar Empleado </button>
    </p>
    </div>
 
  @(Html.Telerik().Grid(Model)
        .Name("EmpleadosGrid")
        .Localizable("es-ES")
        .Filterable()
        .Editable(editing => editing
                            .Mode(GridEditMode.InLine))
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            
            columns.Bound(p => p.nombre);
            columns.Bound(p => p.apellido_paterno);
            columns.Bound(p => p.apellido_materno);
            
            
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Image);
                commands.Custom("editarEmpleado")
                   .ButtonType(GridButtonType.Text)
                   //.ImageHtmlAttributes(new { @class = "t-icon t-edit" })
                   .Ajax(true)
                   .Action("DameEmpleado", "Empleado")
                   .Text("Editar")

                   .DataRouteValues(route =>
                   {
                       route.Add(p => p.ID).RouteKey("empleadoID");
                   });
                //commands.Edit()
            });
        })
        .ClientEvents(events => events.OnComplete("Grid_onComplete"))
        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Empleado")
            .Insert("Insert", "Empleado")
            .Delete("Delete", "Empleado")
        )
    )


   
    <div id="dialogEditar" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 46px; height: auto; display:none" scrolltop="0" scrollleft="0">
	
    <div id="main" class="container_12" ><!-- Body Wrapper Begin -->
		<div id="body">
			
            <div class="block big" style="position: relative;">
           
            <!-- Block Begin -->
				<div class="titlebar">
					<!--
					<h3>Mantenimento de Cliente</h3>
					-->
				</div>
				<form id = "formEmpleado" class="form" action="#">
				
                <div class="block_cont">
                	<div  id="datos_personales">
						<div class="titlebar innertitle">
							<h3>Datos Personales</h3>
						</div>
						<div class="block_cont">
							<div class="form_row" >
								<label> Cargo: </label>
								<input class="input validate[required] tipRight" maxlength = 50 required type="text" style="width:300px;" name="nombre_cargo" id="nombre_cargo"/>
                            </div>
							<div id="cliente_natural_form">
							<!-- empieza natural -->
							<div class="form_row">
							<label>Nombres(*): <span id = "reqnombre" style = "color:red; display:none" > *Requerido </span></label>
							<input class="input validate[required] tipRight" maxlength = 50 type="text" style="width:300px;" name="nombre_cliente" id="nombre_cliente"/>
							</div>
							<div class="form_row">
							<label> Apellido Paterno(*):<span id = "reqpaterno" style = "color:red; display:none" > *Requerido </span></label>
							<input class="input validate[required] tipRight" maxlength = 50 type="text" style="width:300px;" name="apellido_paterno" id="apellido_paterno"/>
							</div>
							<div class="form_row">
							<label> Apellido Materno(*):<span id = "reqmaterno" style = "color:red; display:none" > *Requerido </span></label>
							<input class="input validate[required] tipRight" maxlength = 50 type="text" style="width:300px;" name="apellido_materno" id="apellido_materno"/>
							</div>
							<div class="form_row">
							
                            <label> Pais:<span id = "reqpais" style = "color:red; display:none" > *Requerido </span></label>
							<input class="input tipRight" type="text" maxlength = 50 style="width:300px;" name="pais" id="pais"/>
							</div>

                            <div class="form_row">
							
                            <label> Ciudad: <span id = "reqciudad" style = "color:red; display:none" > *Requerido </span></label>
							<input class="input tipRight" type="text" maxlength = 50 style="width:300px;" name="ciudad" id="ciudad"/>
							</div>
							<!--
                            <div class="form_row">
							<label> Ciudad:</label>
							<input class="input tipRight" type="text" style="width:300px;" name="ciudad" id="ciudad"/>
							</div>
							<div class="form_row">
							<label> Distrito:</label>
							<input class="input tipRight" type="text" style="width:300px;" name="distrito" id="distrito"/>
							</div>
                            -->
                            
                            <!-- 
                             Si se aumenta 1, el top debe bajar en top / 2
                            -->
							<div class="form_row">
							<label> Direccion:</label>
							<input class="input tipRight" maxlength = 80 type="text" style="width:400px;" name="direccion" id="direccion"/>
							</div>
							<div class="form_row">
							<label> Correo Electronico: <span id = "reqemail" style = "color:red; display:none" > *Email no valido </span></label>
							<input class="input tipRight" maxlength = 80 type="text" style="width:400px;" name="email" id="email"/>
							</div>
							<div id="right_form_natural" style = "top:-450px">
								<!--
                                <div id="natural_foto">
								<label> Foto: </label>
								<img src="#" alt="exm" height=150 width=150/>
								</div>
                                -->
								<div id="natural_div_extra"> 
									<!--
                                    <div class="form_row">
									<label> Ruc: </label>
									<input class="input tipRight" type="text" style="width: 300px;" name="ruc" id="ruc"/> 
									</div>
									-->
                                    <div class="form_row">
                                    <label> Hotel: <span id = "reqhotel" style = "color:red; display:none" > *Requerido </span></label>
									<select name="hotel" id = "hotel" class="select" style="width: 300px;">
										
									</select>
									</div>

                                    <div class="form_row">
                                    <label> Perfil: <span id = "reqperfil" style = "color:red; display:none" > *Requerido </span></label>
									<select name="perfil" id = "perfil" class="select" style="width: 300px;">
										
									</select>
									</div>

                                    <div class="form_row">
                                    <label> Tipo Documento: </label>
									<select name="tipo_documento_natural" id = "tipo_documento" class="select" style="width: 300px;">
										<option value="dni"> DNI </option>
										<option value="pasaporte"> Pasaporte </option>
									</select>
                                    </div>

									<div class="form_row">
									<label> Nro Documento: <span id = "reqnrodocumento"  style = "color:red; display:none" > *Debe ingresar un numero correcto</span></label>
									<input name="nro_documento_natural" maxlength = "12" id = "numero_documento" class="input tipRight" type="text" style="width: 300px" />
									</div>
									<div class="form_row">
									<label> Fecha de Nacimiento <span id = "reqfecha" style = "color:red; display:none" > *Requerido </span></label>
									<input class="input validate[required] tipTop" id="fecha_nacimiento" type="date" style="width: 290px;" name="inputtext" placeholder="" readonly = readonly original-title=".tipTop - top tooltip by tipsy">
									</div>
									<div class="form_row">
									<label> Telefono: </label>
									<input name="telefono_natural" id = "telefono_natural" type = "text"  maxlength = 12 class="input tipRight"  style="width: 300px"/>
									</div>
									<div class="form_row">
									<label> Celular: </label>
									<input name="celular_natural" id = "celular_natural" type = "text"  maxlength = 12 max="9999999999" class="input tipRight"  style="width: 300px"/>
									</div>

								</div>
							</div><!-- termina natural -->
						</div>
					</div>
				</div>
					<div id="info_adicional">
					<div class="small-inner" id="detalle_cliente"style="margin-top: 10px;">
						<div class="titlebar innertitle">
							<h3>Detalle del Trabajo</h3>
						</div>
						<div class="block_cont">
							<div class="form_row" id="estado_cliente">
							<label> Estado: </label>
							<select name="estado" id = "estado" class="select">
								<option value="activo"> ACTIVO </option>
								<option value="noactivo"> NO ACTIVO </option>
							</select>
							</div>
							<div class="form_row">
							<label> Horario: </label>
                                <p>&nbsp;L &nbsp;&nbsp; M &nbsp;&nbsp; M &nbsp;&nbsp; J &nbsp;&nbsp; V &nbsp;&nbsp;&nbsp; S &nbsp;&nbsp;&nbsp; D</p> 
							    <input type = "checkbox" id = "chklunes" />
                                <input type = "checkbox" id = "chkmartes" />
                                <input type = "checkbox" id = "chkmiercoles" />
                                <input type = "checkbox" id = "chkjueves" />
                                <input type = "checkbox" id = "chkviernes" />
                                <input type = "checkbox" id = "chksabado" />
                                <input type = "checkbox" id = "chkdomingo" />
							</div>
                            <div class="form_row">
							<label> Horario Entrada: <span id = "hentrada" style = "color:red; display:none" >  </span></label>
                                <p>&nbsp;L &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; M &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; M &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; J &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; V &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; D</p> 
							    <input id="lunesTimeIn" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="martesTimeIn" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="miercolesTimeIn" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="juevesTimeIn" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="viernesTimeIn" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="sabadoTimeIn" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="domingoTimeIn" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
							</div>
                             <div class="form_row">
							<label> Horario Salida: <span id = "hsalida" style = "color:red; display:none" >  </span></label>
                                <p>&nbsp;L &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; M &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; M &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; J &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; V &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; D</p> 
							    <input id="lunesTimeOut" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="martesTimeOut" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="miercolesTimeOut" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="juevesTimeOut" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="viernesTimeOut" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="sabadoTimeOut" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
                                <input id="domingoTimeOut" class="input tipRight" type="text" style="width: 35px" readonly = "readonly"/>
							</div>
                            <!--
                                    <div class="form_row">
									<label> Cvitae: </label>
									<input name="telefono_natural" class="input tipRight" type="text" style="width: 300px"/>
									</div>
                            -->
									<div class="form_row">
									<label> Sueldo: </label>
									<input name="sueldo" id = "sueldo" class="input tipRight" type="text" style="width: 300px"/>
									</div>
						</div>
					</div>
					<div class="small-inner" id="cuenta_usuario" style="margin-top: 10px; width:400px">
						<div class="titlebar innertitle">
							<h3>Cuenta de usuario</h3>
						</div>
						<div class="block_cont">
						<div class="form_row">
						<label> Usuario:<span id = "requsuario" style = "color:red; display:none" > *Requerido </span></label>
						<input name="usuario" id = "usuario" type="text" class="input" style="width:300px;"/>
						</div>
						<div class="form_row">
						<label> Password:<span id = "reqpass1" style = "color:red; display:none" > *Requerido </span></label>
						<input name="pass1" id = "pass1" type="password" class="input" style="width:300px;"/>
						</div>
						<div class="form_row">
						<label> Repetir Password:<span id = "reqpass2" style = "color:red; display:none" > *Requerido </span></label>
						<input name="pass2" id = "pass2" type="password" class="input" style="width:300px"/>
						</div>
						</div>
					</div>
					</div>
				 </div>
				</form>
			</div><!-- Block End -->
		</div>
	</div>
    			
	</div> <!-- Fin editar -->

   
    </div>
 <!-- para el modal amplio ftw!! -->
 <div id="mask" style="width: 1263px; height: 900px; display: none; opacity: 0.8; "></div>
 
 <input type="hidden" name="idpais" id="idpais" value="">
</div>

    
<script type = "text/javascript">
  localStorage.setItem("codeEmpleadoEditando","")
   function Grid_onComplete(e) {
        localStorage.setItem("estadoEmpleado", "normal");
        if (e.name == "editarEmpleado") {
            localStorage.setItem("estadoEmpleado", "editando");
            var result = e.response;
            localStorage.setItem("codeEmpleadoEditando",result.ID);
            $("#nombre_cargo").val(result.nombre_cargo);
            $("#nombre_cliente").val(result.nombre);
            $("#apellido_paterno").val(result.apellido_paterno);
            $("#apellido_materno").val(result.apellido_materno);
            $("#pais").val(result.paisID);
            $("#ciudad").val(result.ciudadID);
            $("#direccion").val(result.direccion);
            $("#email").val(result.correo_electronico);
            $("#hotel").val(result.hotelID);
            $("#perfil").val(result.perfilID);
            //dni
            $("#numero_documento").val(result.documento_identidad);
            //fecha nac
            $("#telefono_natural").val(result.telefono);
            $("#celular_natural").val(result.celular);

            //claves
            $("#usuario").val(result.usuario);
            $("#pass1").val(result.contrasenha);
            $("#pass2").val(result.contrasenha);
            $('#dialogEditar').dialog('open');
            
        }
    }



  //cargar Hoteles
   $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "../AreaHoteles/Hotel/getHoteles",
            success: function (data) {
                var result = '<option  value = ""> - </option>';
                $.each(data, function (i, item) {
                    var idhotel = item.ID;
                    var descripcion = item.descripcion
                    result += '<option  value = "' + idhotel + '">' + descripcion + '</option>';
                });
                $("#hotel").html(result);
            }
        });



        /*
         $("#pais").autocomplete({
     source :"web/usuario/paises",
     minlength:2,
     select: function(event,ui){
         $("#idpais").attr('value',ui.item.id);
     }
   
   });
        
        */

     $("#pais11").autocomplete({  
            source: function(req, add){  
         
                },
             select: function(event,ui){
               var selectedObj = ui.item;
			    $("#pais").val(selectedObj.label);
			    $('#idpais').val(selectedObj.value);
			    return false;
            }
     
        });  


   //cargar Paises
     $("#pais").autocomplete({  
           source: function(req, add){  
            var jsonPais = {
                    pais: $("#pais").val(),
                };
            $.ajax({
            type: "POST",
            data: JSON.stringify(jsonPais),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "../AreaConfiguracion/Ubigeo/DamePaises",
            success: function (data) {
            var suggestions = []; 
                $.each(data, function (i, item) {
                    var pais = {
                        label : item.Nombre,
                        value : item.ID
                    }
                    suggestions.push(pais);
                });
                add(suggestions);
            },
             select: function(event,ui){
               var selectedObj = ui.item;
			    $("#pais").val(selectedObj.label);
			    $('#idpais').val(selectedObj.value);
			    return false;
            }
        });     
        }
        });  


        $("#direccion").click(function(){
          alert ($("#idpais").val());
        });
        
     $("#ciudad").autocomplete({  
           source: function(req, add){  
            var jsonPais = {
                    ciudad: $("#ciudad").val(),
                    idpais : parseInt($("#pais").val())
                };
            $.ajax({
            type: "POST",
            data: JSON.stringify(jsonPais),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "../AreaConfiguracion/Ubigeo/DameCiudades",
            success: function (data) {
            var suggestions = []; 
                $.each(data, function (i, item) {
                    var ciudad = {
                        label : item.Nombre,
                        value : item.ID
                    }
                    suggestions.push(ciudad);
                });
                add(suggestions);
            }
        });     
        }
        });  
   
    //hacemos el Ajax para llenar los perfiles
    $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "../AreaConfiguracion/Perfiles/Select",
            success: function (data) {
               var result = '<option  value = ""> - </option>';
                $.each(data["data"], function (i, item) {
                    var nombre = item.nombrePerfil;
                    //<option value="dni"> DNI </option>
                   result += '<option  value = "' + item.ID + '">' + nombre + '</option>';
                });
                $("#perfil").html(result);
                
            }
        });

    //Fin Ajax


    $('#fecha_nacimiento').datepicker({
        dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '-120:+0'
    });

    $('#lunesTimeIn').timepicker({
        hourGrid: 4,
        stepMinute: 10,
    });

    $('#martesTimeIn').timepicker({
        hourGrid: 4,
        stepMinute: 10,
    });

    $('#miercolesTimeIn').timepicker({
        hourGrid: 4,
        stepMinute: 10,
    });

    $('#juevesTimeIn').timepicker({
        hourGrid: 4,
        stepMinute: 10,
    });

    $('#viernesTimeIn').timepicker({
        hourGrid: 4,
        stepMinute: 10
    });

    $('#sabadoTimeIn').timepicker({
        hourGrid: 4,
        stepMinute: 10
    });
    $('#domingoTimeIn').timepicker({
        hourGrid: 4,
        stepMinute: 10
    });

    $('#lunesTimeOut').timepicker({
        hourGrid: 4,
        stepMinute: 10,
    });

    $('#martesTimeOut').timepicker({
        hourGrid: 4,
        stepMinute: 10,
    });

    $('#miercolesTimeOut').timepicker({
        hourGrid: 4,
        stepMinute: 10,
    });

    $('#juevesTimeOut').timepicker({
        hourGrid: 4,
        stepMinute: 10,
    });

    $('#viernesTimeOut').timepicker({
        hourGrid: 4,
        stepMinute: 10
    });

    $('#sabadoTimeOut').timepicker({
        hourGrid: 4,
        stepMinute: 10
    });
    $('#domingoTimeOut').timepicker({
        hourGrid: 4,
        stepMinute: 10
    });
    

    $("#agregarEmpleado").click(function () {
        //ajax
        $('#formEmpleado').each(function(){
            this.reset();
        });
        init();
        $("#mask").show();
        $('#dialogEditar').dialog('open');
   
   });

    $('#dialogEditar').dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        width: 1000,
        modal: true,
        title: "Agregar Empleado",
        position: "top",
        buttons: {
            "Aceptar": function () {
                if (validaFormulario()) {
                     var empleado  = armaEntrada();
               if (localStorage.getItem("estadoEmpleado") == "editando") {
                    //alert("editando");
                    
                    $.ajax({
                    type: "POST",
                    data: JSON.stringify(empleado),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: "Empleado/ActualizarEmpleado",
                    success: function (data) {
                        if (data.me == "") {
                            $('#EmpleadosGrid').data('tGrid').ajaxRequest();
                        }
                        
                    }
                });
               }else {
                    $.ajax({
                    type: "POST",
                    data: JSON.stringify(empleado),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: "Empleado/nuevoEmpleado",
                    success: function (data) {
                        
                        if (data.me == "") {
                            $('#EmpleadosGrid').data('tGrid').ajaxRequest();

                        }
                        
                    }
                });
               
               }
                $("#mask").hide();  
                 $(this).dialog("close");
                }
             
            },
            "Cancelar": function () {
                $("#mask").hide();
                $(this).dialog("close");
            }
        }
    });

    /*
    $("#chklunes").change(function(){
      if ($("#chklunes").is(':checked')) {
        $("#lunesTimeIn").css({'background-color' : '#FFFFEEE'});
      }else {
        //$("#lunesTimeIn").val("");
        //$('#lunesTimeIn').attr('enable', false);
      }
    });
    */

    function armaHorario(){
    var result = "";
    result += $("#chklunes").is(':checked')?"1":"0";
    result += $("#chkmartes").is(':checked')?"1":"0";
    result += $("#chkmiercoles").is(':checked')?"1":"0";
    result += $("#chkjueves").is(':checked')?"1":"0";
    result += $("#chkviernes").is(':checked')?"1":"0";
    result += $("#chksabado").is(':checked')?"1":"0";
    result += $("#chkdomingo").is(':checked')?"1":"0";
    return result;
    }

    function validar_ndoc(valor){
    var filter =   /[0-9\.]{3,}/;
        if(filter.test(valor))
            return true;
        else
            return false;
    }

    function validar_email(valor)
    {
        var filter = /[\w-\.]{3,}@@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
        if(filter.test(valor))
            return true;
        else
            return false;
    }


    function armaEntrada(){
        //Datos Personales.
        
        var nombre_empleado = $("#nombre_cliente").val();
        var app_paterno = $("#apellido_paterno").val();
        var app_materno = $("#apellido_materno").val();
        var paisEmpleado = $("#pais").val();
        var direccion = $("#direccion").val();
        var email = $("#email").val();
        var perfil = $("#perfil").val();
        var tipo_documento = $("#tipo_documento").val();
        var numero_documento = $("#numero_documento").val();
        var fecha_nac = $("#fecha_nacimiento").val();
        var telefono = $("#telefono_natural").val();
        var celular = $("#celular_natural").val();
        var pais = $("#pais").val();
        var ciudad = $("#ciudad").val();
        

        //Datos del Trabajo
        var nombreCargo = $("#nombre_cargo").val();
        var estado = $("#estado").val();
        var cadenaHorario = armaHorario();
        var cadenaHoraIn = arma_cadhora($("#lunesTimeIn").val(), $("#martesTimeIn").val(), $("#miercolesTimeIn").val(), $("#juevesTimeIn").val(),$("#viernesTimeIn").val(), $("#sabadoTimeIn").val(), $("#domingoTimeIn").val());
        var cadenaHoraOut = arma_cadhora($("#lunesTimeOut").val(), $("#martesTimeOut").val(), $("#miercolesTimeOut").val(), $("#juevesTimeOut").val(),$("#viernesTimeOut").val(), $("#sabadoTimeOut").val(), $("#domingoTimeOut").val());
        var sueldo = $("#sueldo").val();

        var hotel = $("#hotel").val();
        var perfil = $("#perfil").val();
        //
        var user = $("#usuario").val();
        var pass1 = $("#pass1").val();
        var pass2 = $("#pass2").val();
        var password = pass1 == pass2?pass1:"";  
        //if (password == "") alert("Las Claves No Coinciden");
       
        var jsonEntrada = {
            //datos persona
                     ID : localStorage.getItem("codeEmpleadoEditando"),
                     nombre : nombre_empleado,
                     apellido_paterno : app_paterno,
                     apellido_materno : app_materno,
                     documento_identidad: numero_documento,
                     correo_electronico : email,
                     direccion : direccion, 
                     telefono : telefono,
                     celular: celular,
                     usuario : user,
                     contrasenha : password,
                     paisId : pais,
                     ciudadId : ciudad,
                     hotelId  : hotel,
                     perfilId : perfil,   
                     //datos Trabajo
                     nombre_cargo: nombreCargo,
                     estado : estado,
                     cad_horario : cadenaHorario,
                     cad_horasIn: cadenaHoraIn,
                     cad_horasOut: cadenaHoraOut,
                     sueldo : sueldo,
                };
     
        return jsonEntrada;
    }


    function arma_cadhora(lu, ma, mi , ju , vi, sa, dom){
        var result = "";
        result += HoraHexa(lu==""?"00:00":lu);
        result += HoraHexa(ma==""?"00:00":ma);
        result += HoraHexa(mi==""?"00:00":mi);
        result += HoraHexa(ju==""?"00:00":ju);
        result += HoraHexa(vi==""?"00:00":vi);
        result += HoraHexa(sa==""?"00:00":sa);
        result += HoraHexa(dom==""?"00:00":dom);
        return result;
    }

    function HoraHexa( hora ){

    var stringhoras = "ABCDEEFGHIJKLM";
    var result = ""
    var h = hora.split(":");
    var hor = parseInt(h[0]);
    var min = parseInt(h[1]);    
        //horas
        if (hor < 10)
        result += hor;
        else 
        result += stringhoras[hor - 10];
        //minutos
        result += min/10;
        return result;
    }

    function init(){
        $("#reqnombre").hide();
        $("#reqpaterno").hide();
        $("#reqmaterno").hide();
        $("#reqfecha").hide();
        $("#reqpais").hide();
        $("#reqciudad").hide();
        $("#requsuario").hide();
        $("#reqpass1").hide();
        $("#reqpass2").hide();
        $("#reqemail").hide();
        $("#reqnrodocumento").hide();
        $("#hentrada").hide();
        $("#hsalida").hide();
        $("#reqhotel").hide();
        $("#reqperfil").hide();
    }

    function validaFormulario(){
        //PERSONALES
        init();
        var yeti = true;
        var nombre_empleado = $("#nombre_cliente").val();
        if (nombre_empleado == "") {
           $("#reqnombre").show();
           yeti = false;
        }
        var app_paterno = $("#apellido_paterno").val();
         if (app_paterno == "") {
          $("#reqpaterno").show();
           yeti = false;
        }
        var app_materno = $("#apellido_materno").val();
         if (app_materno == "") {
          $("#reqmaterno").show();
           yeti = false;
        }

        var direccion = $("#direccion").val();
        
        
        var email = $("#email").val();
        if (email !="")
        if (!validar_email(email)){
            $("#reqemail").show();
            yeti = false;
        }
        
        var perfil = $("#perfil").val();
        if (perfil == "") {
          $("#reqperfil").show();
           yeti = false;
        }
       
        var hotel = $("#hotel").val();
        if (hotel == "") {
          $("#reqhotel").show();
          yeti = false;
        }
       
        var tipo_documento = $("#tipo_documento").val();
        var numero_documento = $("#numero_documento").val();
        if (numero_documento != "")
         if (!validar_ndoc(numero_documento)){
           $("#reqnrodocumento").show();
           yeti = false;
         }

        var fecha_nac = $("#fecha_nacimiento").val();
        if (fecha_nac == "") {
          $("#reqfecha").show();
           yeti = false;
        }
        var telefono = $("#telefono_natural").val();
        var celular = $("#celular_natural").val();
        var pais = $("#pais").val();
        if (pais == "") {
          $("#reqpais").show();
           yeti = false;
        }
        var ciudad = $("#ciudad").val();
        if (ciudad == "") {
          $("#reqciudad").show();
           yeti = false;
        }

        //
        var user = $("#usuario").val();
         if (user == "") {
          $("#requsuario").show();
           yeti = false;
        }
        var pass1 = $("#pass1").val();
         if (pass1 == "") {
          $("#reqpass1").show();
           yeti = false;
        }
        var pass2 = $("#pass2").val();
         if (pass2 == "") {
          $("#reqpass2").show();
           yeti = false;
        }
        var password = pass1 == pass2?pass1:""; 
        if (password == "") {
            $("#reqpass1").html("Las claves deben coincidir");
            $("#reqpass2").html("Las claves deben coincidir");
            yeti = false;
        }

        var achk = [];
        achk.push("lunes");
        achk.push("martes");
        achk.push("miercoles");
        achk.push("jueves");
        achk.push("viernes");
        achk.push("sabado");
        achk.push("domingo");
        
        for ( d = 0; d < 7; d++){
           var chk = '#chk' + achk[d];
           if ($(chk).is(':checked')) {
            //verificamos que el in y out ingresen
            var hin = '#' + achk[d] + 'TimeIn';
            var hout = '#' + achk[d] + 'TimeOut';
            //$("#hentrada").html();
            var s = true;
            if ($(hin).val() == "") {
            $("#hentrada").html("Falta el " + achk[d]);
            $("#hentrada").show();
            s = false;
            }
            if ($(hout).val() == "") {
            $("#hsalida").html("Falta el " + achk[d]);
             $("#hsalida").show();
             s = false;
            }
            if (s == false) {
              yeti = false;
              break;
            }
           }
        }
        

        return yeti;
    }
</script>