@using Telerik.Web.Mvc.UI
@using Era_sphere.Areas.AreaHoteles.Models.Habitaciones
@model IEnumerable<Comodidad>
@{
    ViewBag.Title = "SeleccionGrilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Comodidades
        </h3>
    </div>
    <div class="block_cont">


  @(Html.Telerik().Grid(Model)
        .Name("ComodidadesGrid")
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(c => c.ID)
                   .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= ID #>' />")
                   .Title("check")
                   .Width(36);
            columns.Bound(p => p.ID);
            columns.Bound(p => p.descripcion);
            columns.Command(commands =>
            {
                
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
        )
    )

    </div>
    <!-- Table Wrapper End -->
</div>