@{
    ViewBag.Title = "EventoCalcularCostos";
    
    var costo = ViewBag.precio;
    var parcipante = ViewBag.participantes;
    var capacidad = ViewBag.capacidad;
}
<label>Costo :</label>
 @costo &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<label>  Participantes :</label>
 @parcipante &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 <label>Capacidad :</label>
 @capacidad