@{
    ViewBag.Title = "MontosEventos";

}

<table width="50%">
<tr>
    <td>
    <div class="editor-label">
        <label>Precio Total</label>
    </div>
    <div >
        <input type="text" id = "precio_total" readonly="readonly" value="@ViewBag.precio_total"/>
    </div>
    </td>
    <td>
    <div class="editor-label">
        <label>Pagado</label>
    </div>
    <div >
        <input type="text" id = "pagado" readonly="readonly" value="@ViewBag.pagado"/>
    </div>

    </td>
    <td>
    <div class="editor-label">
        <label>Deuda</label>
    </div>
        <input type="text" id = "deuda" readonly="readonly" value="@ViewBag.deuda"/>
    </td>
</tr>
</table>