@{
    ViewBag.Title = "MontosEventos";

}

<table width="50%">
<tr>
    <td>
    <div class="editor-label">
        <label>Precio Total</label>
    </div>
    <div>
        @ViewBag.precio_total
    </div>
    </td>
    <td>
    <div class="editor-label">
        <label>Pagado</label>
    </div>
    <div>
        @ViewBag.pagado
    </div>
    </td>
    <td>
    <div class="editor-label">
        <label>Deuda</label>
    </div>
    <div>
        @ViewBag.deuda
    </div>
    </td>
</tr>
</table>