@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

	<div id="loginbox">
		<a href="#" id="logo">AdminCP</a>
		<div id="loginform">
			<form name="login" action="#" method="post">
				<div id="username_field"><input type="text" name="usuario"  id = "usuario" placeholder="Usuario" class="required" value="" /></div>
				<div id="password_field"><input type="password" name="password" id = "password" placeholder="Contrasenha" class="required" value="" /></div>
				<div id="buttonline">
					<input type="button" id="loginbutton" class="float_left width_4" value="Ingresar" />
					<a href="#" class="passforgot float_right"></a>
				</div>
			</form>
		</div>

         <p> &nbsp; </p>
         <div id = "explain">
         
         </div>
        <div id = "reco" align=center>
           Era Sphere le recomienda usar los navegadores <a href="https://www.google.com/chrome?hl=es-419&brand=CHJL&utm_campaign=es-419&utm_source=es-419-pe-ha-BKWS&utm_medium=ha">Google Chrome</a> o <a href="http://www.mozilla.org/es-ES/firefox/new/">Mozilla Firefox</a>
        </div>

        <p> &nbsp; </p>
        <p> &nbsp; </p>
        <p> &nbsp; </p>

        <div id = "copyright" align=center color=>
            <b>Copyright © 2012 Resort Solutions | Todos los derechos reservados.</b>
        </div>

	</div>