@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  .bienvenida 
  {
     font-size: 18px;
     color: #1D1D63;   
  }
  
  
 
</style>
<div class="block big"><!-- Block Begin -->
    <div class="titlebar">
		<h3>Sistema de Gesti&oacute;n Hotelera</h3>
	</div>
	<div class="block_cont">
        <span class = "bienvenida"> Bienvenid@@ al sistema </span>  <div id = "name"> </div>
       
    </div>
</div><!-- Block End -->