@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block big"><!-- Block Begin -->
    <div class="titlebar">
		<h3>Sistema V2.0</h3>
	</div>
	<div class="block_cont">
        <h1> Bienvenido al sistema  <h2 id = "name"> </h2> </h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div><!-- Block End -->