@{
    ViewBag.Title = "TemporadaIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //int[] checkedRecords = (int[])ViewData["checkedRecords"]; 
}
@using Era_sphere.Areas.AreaConfiguracion.Models.Temporada
@model IEnumerable<TemporadaView>
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de temporadas
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("TipoTemporadaGrid")
        .Localizable("es-ES")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("TemporadaViewTemplate"))

        .DataKeys(key => key.Add(c => c.ID))
        .ClientEvents(events => events.OnRowDataBound("onRowDataBound"))
        .Columns(columns =>
        {
            
            //columns.Bound(p => p.ID);
            columns.Bound(p => p.descripcion);
            columns.Bound(p => p.tipotemporada_descripcion);
            columns.Bound(p => p.fecha_inicio).Format("{0:dd/MM/yyyy}");
            columns.Bound(p => p.fecha_fin).Format("{0:dd/MM/yyyy}");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Temporada")
            .Insert("Insert", "Temporada")
            .Delete("Delete", "Temporada")
            .Update("Update", "Temporada")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>

<script type="text/javascript">
    function onRowDataBound(e) {
        if (e.dataItem.ID == 1) {
            $(e.row).find('a.t-grid-delete').remove();
            $(e.row).find('a.t-grid-edit').remove();
        }
    }
</script>