@using Telerik.Web.Mvc.UI
@using Era_sphere.Areas.AreaEmpleados.Models
@model IEnumerable<Empleado>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Empleados
        </h3>
    </div>
    <div class="block_cont">

    <div class = "form">
    <p>
    <button class="t-button t-state-default submit" id="agregarPerfil"> Agregar Empleado </button>
    </p>
    </div>
 
  @(Html.Telerik().Grid(Model)
        .Name("PerfilesGrid")
        .Editable(editing => editing
                            .Mode(GridEditMode.InLine))
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            
            columns.Bound(p => p.nombre);
            columns.Bound(p => p.apellido_paterno);
            columns.Bound(p => p.apellido_materno);
            
            
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Perfiles")
            .Insert("Insert", "Perfiles")
            .Delete("Delete", "Perfiles")
            .Update("Update", "Perfiles")
        )
    )


   
    <div id="dialogEditar" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 46px; height: auto; display:none" scrolltop="0" scrollleft="0">
	<div id="main" class="container_12"><!-- Body Wrapper Begin -->
		<div id="body">
			<div class="block big" style="position: relative"><!-- Block Begin -->
				<div class="titlebar">
					<!--
					<h3>Mantenimento de Cliente</h3>
					-->
				</div>
				<form class="form" action="">
				<div class="block_cont">
					<div id="datos_personales">
						<div class="titlebar innertitle">
							<h3>Datos Personales</h3>
						</div>
						<div class="block_cont">
							<div class="form_row" >
								<label> Cargo: </label>
								<select name="tipo_cargo" id="tipo_cargo" class="select">
									<option value="none"> - </option>
									<option value="persona_natural"> Persona natural</option>
									<option value="persona_juridica"> Persona juridica</option>
								</select>
							</div>
							<div id="cliente_natural_form">
							<!-- empieza natural -->
							<div class="form_row">
							<label>Nombres(*):</label>
							<input class="input validate[required] tipRight" type="text" style="width:300px;" name="nombre_cliente" id="nombre_cliente"/>
							</div>
							<div class="form_row">
							<label> Apellido Paterno(*):</label>
							<input class="input validate[required] tipRight" type="text" style="width:300px;" name="apellido_paterno" id="apellido_paterno"/>
							</div>
							<div class="form_row">
							<label> Apellido Materno(*):</label>
							<input class="input validate[required] tipRight" type="text" style="width:300px;" name="apellido_materno" id="apellido_materno"/>
							</div>
							<div class="form_row">
							
                            <label> Pais:</label>
							<input class="input tipRight" type="text" style="width:300px;" name="pais" id="pais"/>
							</div>
							<!--
                            <div class="form_row">
							<label> Ciudad:</label>
							<input class="input tipRight" type="text" style="width:300px;" name="ciudad" id="ciudad"/>
							</div>
							<div class="form_row">
							<label> Distrito:</label>
							<input class="input tipRight" type="text" style="width:300px;" name="distrito" id="distrito"/>
							</div>
                            -->
                            
                            <!-- 
                             Si se aumenta 1, el top debe bajar en top / 2
                            -->
							<div class="form_row">
							<label> Direccion:</label>
							<input class="input tipRight" type="text" style="width:400px;" name="direccion" id="direccion"/>
							</div>
							<div class="form_row">
							<label> Correo Electronico:</label>
							<input class="input tipRight" type="text" style="width:400px;" name="email" id="email"/>
							</div>
							<div id="right_form_natural" style = "top:-400px">
								<!--
                                <div id="natural_foto">
								<label> Foto: </label>
								<img src="#" alt="exm" height=150 width=150/>
								</div>
                                -->
								<div id="natural_div_extra"> 
									<!--
                                    <div class="form_row">
									<label> Ruc: </label>
									<input class="input tipRight" type="text" style="width: 300px;" name="ruc" id="ruc"/> 
									</div>
									-->
                                    <label> Tipo Documento: </label>
									<select name="tipo_documento_natural" class="select" style="width: 300px;">
										<option value="dni"> DNI </option>
										<option value="pasaporte"> Pasaporte </option>
									</select>
									<div class="form_row">
									<label> Nro Documento: </label>
									<input name="nro_documento_natural" class="input tipRight" type="text" style="width: 300px"/>
									</div>
									<div class="form_row">
									<label> Fecha de Nacimiento </label>
									<input class="input validate[required] tipTop" id="fecha_nacimiento" type="date" style="width: 290px;" name="inputtext" placeholder="" original-title=".tipTop - top tooltip by tipsy">
									</div>
									<div class="form_row">
									<label> Telefono: </label>
									<input name="telefono_natural" class="input tipRight" type="text" style="width: 300px"/>
									</div>
									<div class="form_row">
									<label> Celular: </label>
									<input name="celular_natural" class="input tipRight" type="text" style="width: 300px"/>
									</div>

								</div>
							</div><!-- termina natural -->
						</div>
					</div>
				</div>
					<div id="info_adicional">
					<div class="small-inner" id="detalle_cliente"style="margin-top: 10px;">
						<div class="titlebar innertitle">
							<h3>Detalle del Cliente</h3>
						</div>
						<div class="block_cont">
							<div class="form_row" id="estado_cliente">
							<label> Estado: </label>
							<select name="estado" class="select">
								<option value="estado0"> estado0 </option>
								<option value="estado1"> estado1 </option>
							</select>
							</div>
							<div class="form_row">
							<label> Reservas Historicas </label>
							<input name="reservas_historicas" type="text" class="input" readonly="readonly" style="width:300px"/>
							</div>
						</div>
					</div>
					<div class="small-inner" id="cuenta_usuario" style="margin-top: 10px; width:400px">
						<div class="titlebar innertitle">
							<h3>Cuenta de usuario</h3>
						</div>
						<div class="block_cont">
						<div class="form_row">
						<label> Usuario:</label>
						<input name="usuario" type="text" class="input" style="width:300px;"/>
						</div>
						<div class="form_row">
						<label> Password:</label>
						<input name="usuario" type="text" class="input" style="width:300px;"/>
						</div>
						<div class="form_row">
						<label> Tarjeta Cliente:</label>
						<input name="usuario" type="text" class="input" style="width:300px"/>
						</div>
						</div>
					</div>
					</div>
				</div>
				</form>
			</div><!-- Block End -->
		</div>
	</div>
    			
	</div> <!-- Fin editar -->

   
    </div>
 <!-- para el modal amplio ftw!! -->
 <div id="mask" style="width: 1263px; height: 773px; display: none; opacity: 0.8; "></div>
 
</div>

    
<script type = "text/javascript">

    $('#fecha_nacimiento').datepicker({
        dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '-120:+0'
    });

    $("#agregarPerfil").click(function () {
        //ajax
        $("#mask").show();
        $("#nombre").val(""),
        $("#descripcion").val(""),
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "../Navegacion/ListaTodoMenu",
            success: function (data) {
                var result = "";
                $.each(data, function (i, item) {
                    var nombre = item.Nombre;
                    result += '<p><input type = "checkbox" id = "actividad-' + i + '">' + nombre + '</p>';
                });
                $("#listaActividades").html(result);
            }
        });

        $('#dialogEditar').dialog('open');
        //$("#dialogEditar").load("Empleado/CrearEmpleado");
    });

    $('#dialogEditar').dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        width: 1000,
        modal: true,
        title: "Crear Perfil",
        position: "top",
        buttons: {
            "Aceptar": function () {
                var jsonMenu = {
                    nombre: $("#nombre").val(),
                    descripcion: $("#descripcion").val(),
                    lista: "111"
                };
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(jsonMenu),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: "Perfiles/nuevoPerfil",
                    success: function (data) {
                        if (data.me == "") {
                            $('#PerfilesGrid').data('tGrid').ajaxRequest();

                        }
                    }
                });

                $(this).dialog("close");
            },
            "Cancelar": function () {
                $("#mask").hide();
                $(this).dialog("close");
            }
        }
    });

</script>