@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Era_sphere.Areas.AreaHoteles.Models
@using Era_sphere.Areas.AreaHoteles.Controllers
@model IEnumerable<HotelView>
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Administracion de Hoteles
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Localizable("es-ES")
        .Name("HotelesGrid")
        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.razon_social);
            columns.Command(commands => commands
                .Custom("seleccionarHotel")
                .Text("Seleccionar")
                .Action("AdministrarJson", "AdministrarHotel")
                .Ajax(true)
                .DataRouteValues(route =>
                    {
                        route.Add(p => p.ID).RouteKey("hotelID");
                    })
                ).Title("Seleccionar").Width(50);
        })
                .ClientEvents(events => events.OnComplete("Grid_onComplete"))
        .Pageable()
        .Sortable()
                 .DataBinding(dataBinding => dataBinding
                    .Ajax()
                    .Select("Select", "Hotel")
                )
       )

    </div>
    <!-- Table Wrapper End -->
</div>

<script type="text/javascript">
    function Grid_onComplete(e) {
        if (e.name == 'seleccionarHotel') {

            var result = e.response;
            var idhotel = result.idHotel;
            var perfil = localStorage.getItem("perfil");
            var hotel = localStorage.getItem("Hotel");

            if (perfil == "1") {
                //es admin
                var url = "/AreaHoteles/AdministrarHotel/Administrar/" + idhotel;
                $(location).attr('href', url);
            } else {
                //no es admin
            if (idhotel != hotel) {
                alert("No tienes acceso a ese hotel");
            } else {
                var url = "/AreaHoteles/AdministrarHotel/Administrar/" + idhotel;
                $(location).attr('href', url);
                }
            }
            e.preventDefault();
        }
    }
</script>