@{
    ViewBag.Title = "PromocionIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relacionespromocion = (new EraSphereContext()).relacionespromocion.ToList();
}
@using Era_sphere.Areas.AreaPromociones.Models
@model IEnumerable<PromocionView>
@using Telerik.Web.Mvc.UI
@using Era_sphere.Generics

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Mantenimento de Promociones
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("PromocionGrid")
        .Filterable()
        .Localizable("es-ES")
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("PromocionViewTemplate"))

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            
            columns.Bound(p => p.ID);
            columns.Bound(p => p.nombre);
            columns.Bound(p => p.descripcion);
            columns.Bound(p => p.puntos_requeridos);
            columns.Bound(p => p.descuento);
            columns.Bound(p => p.fecha_inicio).Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.fecha_fin).Format("{0:MM/dd/yyyy}");
            columns.ForeignKey(p => p.relacionpromocionID, relacionespromocion, "ID", "descripcion");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Promocion")
            .Insert("Insert", "Promocion")
            .Delete("Delete", "Promocion")
            .Update("Update", "Promocion")
        )
           )

    </div>
    <!-- Table Wrapper End -->
</div>
