@using Era_sphere.Areas.AreaContable.Models;
@using Era_sphere.Generics;
@model IEnumerable<ProveedorView>
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id_hotel = ViewBag.id_hotel;
            //var paises = (new EraSphereContext()).paises.ToList();
}
 <div class="block big">
     <div class="block_cont">       
        <p>@Html.ActionLink("Administrar Ordenes de compra", "IndexAdministracion", new { controller = "../AreaContable/AdministrarOC" , id = @id_hotel},
                            new { @class = "tipTop" }
                        )
                        
        </p>
    </div>
</div>
<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Compras y recepción
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("ProveedoresGrid")
        .Localizable("es-ES")
        .Filterable()

        .DataKeys(key => key.Add(p => p.ID))
        .Columns(columns =>
        {
            columns.Bound(p => p.ID);
            columns.Bound(p => p.razon_social);
            columns.Bound(p => p.persona_contacto);
            columns.Command(commands =>
            {
                commands.Custom("createOrden")
                            .Text("Orden de Compra")
                            .Ajax(true)
                            .DataRouteValues(p => p.Add(x => x.ID).RouteKey("id_proveedor"))
                            .Action("Proveedor", "Proveedor");
            });
        })
        .ClientEvents(events => events.OnComplete("onComplete"))
        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "OrdenCompra", new { id_hotel = @id_hotel })
        )
           )
    </div>
@(Html.Telerik().Window().Name("name-fake").Visible(false)
)

    <script type="text/javascript">
        function onComplete(e) {
            var proveedor = e.response.proveedor;
            if (e.name == "createOrden") {
           
                var url = '@Url.Action("crearOrdenView", "OrdenCompra")' + '/?id_proveedor=' + proveedor.ID + '&id_hotel=' + @id_hotel;
                var windowElement = $.telerik.window.create({
                    name : 'popupOrden' , 
                    title: "Registrar orden de compra",
                    html: '',
                    actions: [],
                    contentUrl: url,
                    modal: true,
                    resizable: true,
                    draggable: true,
                    width : 650,
                    height : 550 ,
                    onClose: function (e) {
                        e.preventDefault();
                        windowElement.data('tWindow').destroy();
                    }
                });
                var tdata = windowElement.data('tWindow');
                jQuery(windowElement).attr('id', 'popupOrden');
                tdata.center().open();
                       
            }
        }

       function cerrar_ventana( ){
        $("#popupOrden").data('tWindow').close();
       }
    </script>
    <!-- Table Wrapper End -->
</div>
