@model Era_sphere.Areas.AreaContable.Models.Productos.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Producto</legend>

    <div class="display-label">descripcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
