@{
    ViewBag.Title = "IndexProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}
@using Era_sphere.Areas.AreaContable.Models
@model IEnumerable<ProductoView>           
@using Telerik.Web.Mvc.UI

<div class="block big" style="position: relative">
    <!-- Block Begin -->
    <div class="titlebar">
        <h3>
            Productos
        </h3>
    </div>
    <div class="block_cont">
        @(Html.Telerik().Grid(Model)
        .Name("ProductosGrid")
        .Filterable()
        .ToolBar(commands => commands.Insert())
        .Editable(editing => editing
                            .Mode(GridEditMode.PopUp)
                            .TemplateName("ProductoViewTemplate"))

        .DataKeys(key => key.Add(c => c.ID))
        .Columns(columns =>
        {
            //columns.Bound(p => p.ID);
            columns.Bound(p => p.lineaProducto_str);
            columns.Bound(p => p.descripcion);  
            //columns.Bound(p => p.clasProducto_desc);
            columns.Bound(p => p.isPerecible_str);
            columns.Bound(p => p.diasPerecible);
            columns.Bound(p => p.unidadMedidad);                    
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            });
        })

        .Pageable()
        .Sortable()


        .DataBinding(dataBinding => dataBinding
            .Ajax()
            .Select("Select", "Producto")
            .Insert("Insert", "Producto")
            .Delete("Delete", "Producto")
            .Update("Update", "Producto")
        )
        
        .Groupable(grouping => grouping.Groups(groups => 
                        {                            
                        })
                   )

                   )


            </div>
    <!-- Table Wrapper End -->
</div>